@font-face {
    font-family: roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

body{
    font-family: roboto;
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    background: #0ea5e9;
    grid-area: 1/1/-1/2;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr repeat(10, 0.5fr) 4fr;
    gap: 10px;
    place-items: center;
    padding-left: 10px;
}

.logo{
    width: 30px;
    filter: invert(100%) sepia(10%) saturate(0%) hue-rotate(75deg) brightness(113%) contrast(100%);
}

#dashboard{
    width: 40px;
}

.text{
    margin-right: auto;
    font-size: calc(1em + 3px);
}

.text.dashboard{
    font-size: 2em;
}


.header{
    grid-area: 1/2/2/-1;
    background: white;
    box-shadow: 5px 0px 10px grey;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search{
    display: grid;
    grid-template-columns: 7% 93%;
    gap: 10px;
    align-items: center;
}

.right{
    display: grid;
    grid-template-columns: 40% 10% 1fr;
    align-items: center;
    gap: 20px;
}

.my_name{
    font-weight: bold;
}

.search-field{
    background-color: #e2e8f0;
    height: 25px;
    border: none;
    border-radius: 20px;
    /* width: 500px; */
}

.magnify, .bell{
    width: 30px;
    margin-left: auto;
}

.my_pic{    
    width: 40px;
    background: orange;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    display: grid;
    grid-template-columns: 0.2fr 6fr 1fr 1fr 1fr;
    align-items: center;

}

.bottom .my_pic{
    margin-left: 30px;
    width: 50px;
    margin-right: 20px;
}
.text .text{
    font-size: 14px;
}

.bottom button{
    color: white;
    width: 100px;
    height: 30px;
    background-color: #0ea5e9;
    border: none;
    border-radius: 20px;
}

.content{
    grid-area: 2/2;
    background: #e2e8f0;
    display: grid;
    grid-template-columns: 2.4fr 1fr;
    grid-template-rows: 55% 30%;
}

.projects{
    grid-area: 1/1/-1/2;
    margin: 30px 23px;
}

.content .text{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.projects-grid{
    height: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.project{
    background-color: white;
    margin-left: 5px;
    padding: 20px 40px 0px 20px;
    border-radius: 8px;
    box-shadow: 2px 3px 10px -5px black, -6px 0px 0px orange;
    display: grid;
    grid-template-rows: 10% 1fr 15%;
    gap: 5px;
}

.project:hover{
    box-shadow: 2px 3px 10px -5px black, -7px 0px 0px purple;
    transform:scale(1.05);
}

.project-name{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.description{
    color: grey;
}

.buttons{
    align-self: center;
    grid-row: 3;
    display: grid;
    grid-template-columns: 10% 10% 10%;
    justify-content: end;
    place-items: end;
    gap: 20px;
}

.img-buttons{
    max-width: 25px;
}

.announcements{
    /* overflow: hidden; */
    grid-area:1/2;
    margin: 30px 30px 0px 0px;
    padding:0px 30px;
}

.containers, .trending-accounts{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    overflow: hidden;
}

.announcement{
    padding: 20px 15px;
    padding-bottom: 20px;
    /* text-overflow: ellipsis;; */
}

.announcement:nth-child(-n+2){
    border-bottom: 1px solid #e2e8f0;
}

.announcement-name{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.announcement-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: grey;
    overflow:hidden;
    text-overflow: ellipsis;
}

.trending{
    grid-area: 2/2;
    margin: 10px 30px 0px 0px;
    padding:0px 30px 10px;
}

.trending-accounts{
    background-color: white;
}

.account{
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px 0;
    /* gap: 10px; */
    /* place-items: center; */
}

.pfp{
    background: grey;
    border-radius: 30%;
    width: 40px;
    grid-area: 1/1/3;
}

.tag, .account-name{
    margin-left: 10px;
}

.account-name{
    color: grey;
}